<div class = "flex flex-column justify-content-center align-items-center ml-4 mr-4 mt-2 mb-4 min-h-screen max-h-screen overflow-auto border-round">

    <div class = "flex justify-content-center align-items-center w-full">

        <label class="mr-2" style="font-size: 60px;"> Privado </label>
        <label style="font-size: 60px; color: var(--primary-color);"> 2023 </label>
    </div>
    <div class = "flex justify-content-center align-items-center w-full">
        <img src="../../../assets/images/logo.svg" style="width: 500px; height: 500px;"> 
    </div>

</div>

<router-outlet></router-outlet>
