<div class = "flex flex-column align-items-center ml-2 mr-2 mt-2 mb-2 min-h-screen max-h-screen overflow-auto">

    <div class="mt-2 mb-2  ml-2 mr-2 surface-0 p-4 shadow-4 border-round w-full">
        
        <div>

            <div class="card">

                <p-table #dt1 [value]="entries" [paginator]="true" [rows]="10" [globalFilterFields]="['person_name']">

                    <ng-template pTemplate="caption">
                        <div class="flex">
                            
                            <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search by name" />
                        </div>
                    </ng-template>

                    <ng-template pTemplate="header">

                        <tr>

                            <th>Name</th>
                            

                            <th> 
                                Hour 
                                <p-columnFilter type="text" field="hour" display="menu"></p-columnFilter>
                            </th>

                            <th> 
                                Minute
                                <p-columnFilter type="text" field="minute" display="menu"></p-columnFilter> 

                            </th>

                            <th> 
                                Day
                                <p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
                            
                            </th>

                            <th> 
                                Month
                                <p-columnFilter type="text" field="month" display="menu"></p-columnFilter> 
                            
                            </th>

                            <th> 
                                Year 
                                <p-columnFilter type="text" field="year" display="menu"></p-columnFilter>

                            </th>

                        </tr>

                    </ng-template>

                    <ng-template pTemplate="body" let-entry>

                        <tr>

                            <td> {{entry.person_name}} </td>

                            <td> {{entry.hour}} </td>

                            <td> {{entry.minute}} </td>

                            <td> {{entry.day}} </td>

                            <td> {{entry.month}} </td>

                            <td> {{entry.year}} </td>

                        </tr>

                    </ng-template>

                </p-table>

            </div>

        </div>
        
    </div>

</div>
<router-outlet> </router-outlet>
