
<p-messages [(value)]="messages" [enableService]="false" [closable]="true" [hideTransitionOptions]="'500ms'" [showTransitionOptions]="'500ms'"></p-messages>

<div class = "flex surface-0 align-items-center justify-content-center min-h-screen"> 

    

    <div class="surface-card p-4 shadow-2 border-round w-full lg:w-6">

        <div class="text-center mb-5 flex justify-content-center">

            <img src="assets/images/logo.svg" alt="Image" height="50" class="mb-3">
            
            <div class="text-900 text-3xl font-medium mt-2">Welcome Back</div>
            
        </div>

        <div>

            <form [formGroup]="formLogin" (ngSubmit)="tryLogin()">

                <label for="model" class="block text-900 font-medium mb-2">Model</label>

                <input id="model" type="text" pInputText class="w-full mb-3 " formControlName = "device">

                <label for="password1" class="block text-900 font-medium mb-2">Password</label>

                <input id="password1" type="password" pInputText class="w-full mb-3" formControlName = "password">

                <button pButton pRipple label="Sign In" [disabled]="!formLogin.valid" icon="pi pi-user" class="w-full"></button>

            </form>

            
        </div>
    </div>

</div>

<router-outlet> </router-outlet>