<div class = "flex flex-column align-items-center ml-2 mr-2 mt-2 mb-2 min-h-screen max-h-screen overflow-auto">

    <div class="mt-2 mb-2  ml-2 mr-2 surface-0 p-4 shadow-4 border-round w-full">
        
        <div>

            <div class="card">

                <p-table #dt1 [value]="intruders" [paginator]="true" [rows]="10" styleClass="border-round" [globalFilterFields]="['person_name']">

                    <ng-template pTemplate="caption">

                        <div class="flex">
                            
                            <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')" placeholder="Search by name" />

                        </div>

                    </ng-template>

                    <ng-template pTemplate="header">

                        <tr>

                            <th>

                                Name

                            </th>
                            
                            <th> 
                                Hour 
                                <p-columnFilter type="text" field="hour" display="menu"></p-columnFilter>
                            </th>

                            <th> 
                                Minute
                                <p-columnFilter type="text" field="minute" display="menu"></p-columnFilter> 

                            </th>

                            <th> 
                                Day
                                <p-columnFilter type="text" field="date" display="menu"></p-columnFilter>
                            
                            </th>

                            <th> 
                                Month
                                <p-columnFilter type="text" field="month" display="menu"></p-columnFilter> 
                            
                            </th>

                            <th> 
                                Year 
                                <p-columnFilter type="text" field="year" display="menu"></p-columnFilter>

                            </th>

                            <th>

                                Image captured

                            </th>

                        </tr>

                    </ng-template>

                    <ng-template pTemplate="body" let-intruder>

                        <tr>

                            <td> {{intruder.person_name}} </td>

                            <td> {{intruder.hour}} </td>

                            <td> {{intruder.minute}} </td>

                            <td> {{intruder.day}} </td>

                            <td> {{intruder.month}} </td>

                            <td> {{intruder.year}} </td>

                            <td>
                                
                                <p-button icon="pi pi-eye" styleClass="p-button-success ml-2" label="View" (click) = "showPopUp(intruder.image)"></p-button>  

                                <p-dialog header="Intruder picture" [(visible)]="visible" [modal]="true" [style]="{ width: '50vw' }" [draggable]="false" [resizable]="false">

                                    <p class="m-0" *ngIf = "visible">

                                        <img [src] = "displayImage()" width="100%" height="100%"> 

                                    </p>
                                </p-dialog>

                            </td>

                        </tr>

                    </ng-template>

                </p-table>

            </div>

        </div>
        
    </div>

</div>
<router-outlet> </router-outlet>