/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.p-menu {
    padding: 0.25rem 0;
    background: #1f2d40;
    color: rgba(255, 255, 255, 0.87);
    border: 1px solid #304562;
    border-radius: 3px;
    width: 100%;
}